@{
    ViewBag.Title = "Index";
}
<center>
    <h2>Index</h2>

    <hr />
    <a href="/Home/ShowData/" style="margin:0px;padding:0px;"><input class="btn-success" type="button" value="View All Trades" style="background-color:cadetblue;font-size:medium;width:100%;" /></a>

    <hr />
    <a href="/Home/ProfitChart/" style="margin:0px;padding:0px;"><input class="btn-success" type="button" value="View Profit Chart" style="background-color:cadetblue;font-size:medium;width:100%;" /></a>

</center>